<style type="text/css">
.instagram {
  overflow: hidden;
  background-color: #FFEFD5;
  width: 600px;
     margin: 10px auto;
     border: 2px solid black;
     box-sizing: border-box;
     min-height: 300px;
}


.instagram .wrap {
  margin-left: auto;  
  margin-right: auto;
  max-width: 500px;
  padding-top: 0px;
}

.count{
  float: right;
  margin-right: -12px;
}

img {
  margin-left: 10px;
  padding: 0px;
  width: 400px;
}


caption{
  margin: 20px;
}

p{
  padding-top: 2px;
}

span{
    margin: 0;
}

</style>

    <body>

        <% if flash[:notice].present? %>
          <%= flash[:notice] %>
        <% end %>
      


        <% @posts.each do |post| %>
        
        <div class="instagram">
        <div class="wrap">
          <b><p><%= post.user.username %></p></b>

          <%= image_tag(post.image.url, alt: 'Image') if post.image? %> </br> </br>

          <span><%= post.caption %></span><br/><br/>


        <% if user_signed_in? %>
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= link_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
          <% else %>
            <%= link_to 'Like', post_likes_path(post), method: :post %>
          <% end %>

          <%= link_to "Comment", post_path(post) %> 
          <%= link_to "Save", posts_path %> &nbsp;
          </br>
          <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
          </br>
          <%= post.comments.count %> komentar
         <% end %>
          <hr>
        </div>
      </div>
      <%end%>
    </body>
</html>