<style type="text/css">
.instagram {
  overflow: hidden;
  background-color: #FFEFD5;
  width: 600px;
     margin: 10px auto;
     border: 2px solid black;
     box-sizing: border-box;
     min-height: 300px;
}

.menu {
  background-color: #F08080; 
  text-align: center;
  padding-bottom: 30px; 
  box-sizing: border-box;
  font-size: 25px;
}


.instagram .wrap {
  margin-left: auto;  
  margin-right: auto;
  max-width: 500px;
  padding-top: 0px;
}

.count{
  float: right;
  margin-right: -12px;
}

img {
  margin-left: 10px;
  padding: 0px;
  width: 400px;
}


caption{
  margin: 20px;
}

p{
  padding-top: 2px;
}

span{
    margin: 0;
}

</style>

    <body>

        <div class="menu">
            <a href="#" class="profile">Profile</a> |&nbsp;
            <a href="/posts/new">New Post</a>
      
      </div>

        <% @posts.each do |post| %>
        
        <div class="instagram">
        <div class="wrap">
    
          <b><p><%= post.user.name %></p></b>

          <%= image_tag(post.image.url, alt: 'Image') if post.image? %> </br> </br>

          <span><%= post.caption %></span><br/><br/>

          <%= link_to 'Like', post_likes_path(post), method: :post %>

          <%= link_to "Comment", post_path(post) %> &nbsp;
          </br>
          <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
          </br>
          <%= post.comments.count %> komentar
         
          <hr>
        </div>
      </div>
      <%end%>
    </body>
</html>